<mat-toolbar>
    <span>Datos generales del Medico</span>
    <p></p>
</mat-toolbar>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">

            <img src="https://www.infobae.com/new-resizer/evSMA2PL9DSwYcYx1i-_bsYDrHk=/768x512/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/5KCVGAGSP5HFJA7KMALNP7ITS4.jpg"
                width="290" height="250" alt="texto alternativo de la imagen" />

            <h3>Juan Arteaga Perez</h3>
            <h4>INEN- Suirquillo - Lima</h4>
            <h4>Urologo</h4>
        </div>
    </div>

    <div class="col-md-3">
        <label for="radiologo" class="form-label">Centro Medico</label>
        <input type="text" class="form-control" id="radiologo" name="Centro Medico" value ="INEN"disabled>
        <label for="radiologo" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="radiologo" name="apellidos"value = "Perez disabled">

        <label for="radiologo" class="form-label">Fecha de Naciemiento </label>
        <input type="date" id="start" name="trip-start" min="2000-01-01" max="2021-12-31" value = "2000-02-01"disabled>


        <label for="" class="form-label">Especialidadl</label>
        <select class="form-control" aria-label="Default select example">
            <option selected>Selecione estado civil</option>
            <option value="1">Urologo</option>
            <option value="2">Radiologo</option>
            <option value="3">Tec.Radiologo</option>
        </select>
        <label for="radiologo" class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="number" name="apellidos">
    </div>

    <div class="col-md-3">
        <label for="" class="form-label">Sede</label>
        <select class="form-control" aria-label="Default select example">
            <option selected>Selecione Sede</option>
            <option value="1">Lima</option>
            <option value="2">Prov-Norte</option>
            <option value="3">Prov-Sur</option>
        </select>

        <label for="radiologo" class="form-label">DNI</label>
        <input type="number" class="form-control" id="number" name="apellidos"value ="67757656"disabled>
        <label for="" class="form-label">Distrito donde Vive</label>
        <select class="form-control" aria-label="Default select example">
            <option selected>Selecione Distrito</option>
            <option value="1">Lima</option>
            <option value="2">Surquillo</option>
            <option value="3">Lurin</option>
        </select>
        <label for="radiologo" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="Usuario" name="Usuario" value="El Urologo"disabled>
        <label for="radiologo" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="number" name="apellidos"value ="9454534534"disabled>
    </div>
    <div class="col-md-3">
        <label for="radiologo" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="Usuario" name="Usuario"disabled value="Juan">
        <label for="radiologo" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="Usuario" name="Usuario"value ="juan.urologo@gmail.com" disabled>
        <label for="radiologo" class="form-label">Numero de Colegiatura</label>
        <input type="number" class="form-control" id="Usuario" name="Usuario" value ="67678"disabled>
        <label for="radiologo" class="form-label">Contraseña Nueva</label>
        <input type="password" class="form-control" id="Usuario" name="Usuario">
        <label for="radiologo" class="form-label">Foto de Perfil</label>
        <input  type="file" name="fotoPerfil" accept=".jpg,.png" />
    </div>


</div>