<header class="masthead" style="background-image: url(&quot;https://1.bp.blogspot.com/-_FFKS83j8pQ/YHnmpRMaXCI/AAAAAAABsPc/a-XdCLEMqtILuAdrwMqMS4N0QSujv1svACLcBGAsYHQ/s1600/inen-surquillo.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Bienvenido a:</span>
        </div>
        <div class="intro-heading text-uppercase">
            <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">&nbsp;INEN app</span>
        </div>
        <a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="pacientes" style="background-color: rgb(255,165,85);border:none;">Pacientes</a></div>
    </div>
</header>