<div class="container">
    <mat-toolbar>
    <span>Seguimiento de Pacientes</span>
    <p></p>
  </mat-toolbar>

  <!-- <mat-form-field>
    <mat-label>
      Filtro
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar elementos" #input>


  </mat-form-field> -->


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Numero" >
        <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Numero </th>
        <td mat-cell *matCellDef="let element"> {{element.Numero}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef style="width: 18%;"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="Edad">
        <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.Edad}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Progreso">
        <th mat-header-cell *matHeaderCellDef style="width: 35%"> Progreso </th>
        <td mat-cell *matCellDef="let element">
          <a>
            <mat-progress-bar style="width: 90%"
              class="example-margin"
              color="warn"
              mode="buffer"
              value="{{element.Progreso}}"
              [bufferValue]="40">
            </mat-progress-bar>
          </a>
          {{element.Progreso}}% </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef style="width: 15%"> Estado </th>
        <td mat-cell *matCellDef="let element"> 
   
            <button mat-raised-button color="primary">{{element.Estado}}</button>
          
          
           </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Probabilidad">
        <th mat-header-cell *matHeaderCellDef style="width: 15%"> Probabilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Probabilidad}}% </td>
      </ng-container>
  
  
  
  
  
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]"
                   showFirstLastButtons 
                   >
                   
    </mat-paginator>
    
  </div>
  

  
</div>


