<div class="card" style="padding-top: 13px; padding-bottom: 0px;">
    <mat-toolbar>
        <span>Paciente: {{paciente.nombres}} {{paciente.apellidos}}</span>
        <p></p>
    </mat-toolbar>
</div>
<div class="card" style="padding-top: 13px; padding-bottom: 20px;">
  <div class="row" style="padding-bottom: 20px;">
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-header">
          <span>Archivos</span>
        </div>
        <div class="card-body">
          <div appNgDominicodeFiles [files]="files" (mouseOver)="isOverDrop = $event" [ngClass]="{ 'file-over': isOverDrop }" class="drop-zone">
            <h4>Arrastrar las imágenes aquí</h4>
            <img src="../../../assets/img/cloud.png" alt="drop-images" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Imágenes cargadas</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre del archivo</th>

                <th>Progreso</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files">
                <td style="height: 15px;">{{ file.name }}</td>
                <td *ngIf="file.uploadPercent | async as uploadPercent">
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progessbar"
                      [ngStyle]="{ width: uploadPercent + '%' }"
                    >
                      {{ uploadPercent | number: "1.0-0" }} %
                    </div>
                  </div>
                </td>
                <td *ngIf="file.downloadURL | async as downloadURL">
                  <a [href]="downloadURL" target="_blank">Descargar URL</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="container-buttons">
            <button (click)="files = []" class="btn btn-secondary">Limpiar</button>
            <button (click)="onUpload()" [disabled]="files.length === 0" class="btn btn-danger">Cargar & Evaluar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" style="padding-top: 13px; padding-bottom: 20px;">
  <div class="row">
    <div class="col-md-5 mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Imágenes Subidas</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let file of files" class="col-md-8 mt-5">
            <div *ngIf="file.downloadURL | async as downloadURL">
                <img src="https://firebasestorage.googleapis.com/v0/b/inen-app.appspot.com/o/Radiograf%C3%ADas%2FiwTd001lcKqQ9Ih9HCvb%2F1663799616359-Case00.gif?alt=media&token=009e4fd3-51b7-40b0-a901-2d7a10fd5e2e" width="190" height="150"/>
                {{file.name}}
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 mt-5">
      <div *ngIf="imagenes" class="card">
        <div class="card-header">
          <h4>Evaluación</h4>
        </div>
        <div class="card-body">
          <div class="col-md-8 mt-5">
              <img *ngIf="!result && files[0]?.downloadURL" src="https://c.tenor.com/XK37GfbV0g8AAAAC/loading-cargando.gif" width="190" height="150"/>
              <img *ngIf="result" src="{{result}}" width="190" height="150" alt="result"/>
          </div>
        </div>
      </div>
    </div>
</div>
