<header class="masthead" style="background-image: url(&quot;https://media.gq.com.mx/photos/62a4dbbc985d73aa8f2fff6d/master/pass/cancer_prostata.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Bienvenido a:</span>
        </div>
        <div class="intro-heading text-uppercase">
            <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">&nbsp;INEN app</span>
        </div>
        <a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="login" style="background-color: rgb(255,165,85);border:none;">Ingresar</a></div>
    </div>
</header>