<mat-toolbar>
    <span>Editar Historial Médico</span>
    <p></p>
</mat-toolbar>
<form class="row">
    <div class="container">
        <div class="input-group mb-3">
            <div class="col-md-4">
                <label for="numExpediente" class="form-label">Num. Expediente</label>
                <input type="text" class="form-control" id="numExpediente" name="numExpediente" value="EXP-00001" disabled>
            </div>
            <div class="col-md-4">
                <label for="paciente" class="form-label">Paciente</label>
                <input type="text" class="form-control" id="paciente" name="paciente" value="Jose Perez" disabled>
            </div>
            <div class="col-md-4">
                <label for="nacionalidad" class="form-label">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" value="Peruana" disabled>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-4">
                <label for="" class="form-label">Tipo de Documento</label>
                <select class="form-control" aria-label="Default select example" [value]="1" disabled>
                    <option selected>Selecione el tipo de documento</option>
                    <option value="1">DNI</option>
                    <option value="2">Carnet de Extranjeria</option>
                  </select>
            </div>
            <div class="col-md-4">
                <label for="numDocumento" class="form-label">N° de Documento</label>
                <input type="text" class="form-control" id="numDocumento" name="numDocumento" value="48456912" disabled>
            </div>
            <div class="col-md-4">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" name="edad" value="32" disabled>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-4">
                <label for="radiologo" class="form-label">Radiologo</label>
                <input type="text" class="form-control" id="radiologo" name="radiologo" value="Juan Perez" disabled>
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Estado Civil</label>
                <select class="form-control" aria-label="Default select example" [value]="1" disabled>
                    <option selected>Selecione estado civil</option>
                    <option value="1">Soltero</option>
                    <option value="2">Casado</option>
                    <option value="3">Conviviente</option>
                    <option value="4">Viudo</option>
                    <option value="5">Divorciado</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="telfijo" class="form-label">Teléfono Fijo</label>
                <input type="tel" class="form-control" id="telfijo" name="telfijo" value="3737881" disabled>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-4">
                <label for="telcel" class="form-label">Teléfono Celular</label>
                <input type="tel" class="form-control" id="telcel" name="telcel" value="999541321" disabled>
            </div>
            <div class="col-md-4">
                <label for="correo" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="correo" name="correo" placeholder="@" value="jperez@gmail.com" disabled>
            </div>
            <div class="col-md-4">
                <label for="fecNacimiento" class="form-label">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="fecNacimiento" name="fecNacimiento" value="12/04/1980" disabled>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-4">
                <label for="ocupacion" class="form-label">Ocupación</label>
                <input type="text" class="form-control" id="ocupacion" name="ocupacion" value="Profesor" disabled>
            </div>
            <div class="col-md-4">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="Av. Lima 753" disabled>
            </div>
            <div class="col-md-4">
                <label for="fecNacimiento" class="form-label">Distrito</label>
                <select class="form-control" aria-label="Default select example" [value]="1" disabled>
                    <option selected>Selecione distrto</option>
                    <option value="1">Cercado de Lima</option>
                    <option value="2">Breña</option>
                    <option value="3">Miraflores</option>
                    <option value="4">San Borja</option>
                    <option value="5">Ventanilla</option>
                </select>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-8">
                <label for="informe" class="form-label">Informe</label>
                <textarea name="informe" id="informe" class="form-control" cols="15" rows="3">El paciente presento mejora, se adjunto su resonancia para verificarlo, se atendió a tiempo y se le brindo receta médica.
                </textarea>
            </div>
            <div class="col-md-4">
                <label for="formFile" class="form-label">Subir Resonancia</label>
                <input class="form-control" type="file" id="formFile" name="formFile">
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
</form>